.navbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0px;
  width: 100%;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 40px;
  padding-right: 40px;
}

.title {
  font-size: 22px;
  margin-top: 0px;
}

.connect {
  height: 100%;
  font-size: 15px;
  font-family: Karelia;
  color: #ff5924;
  background: white;
  border: none;
  border-radius: 100px;
  padding: 10px 30px 13px 30px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #f7f7f7;
    transform: translateY(5px);
  }
}
