@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono");
body {
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "IBM Plex Mono", source-code-pro, Menlo, Monaco, Consolas,
        "Courier New", monospace;
}
