.container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url('/images/landingpage.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 110px;
  height: calc(100vh - 110px);
  width: 100%;
}