.main {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url('/images/landingpage.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 22px;
}

.connect {
  font-size: 15px;
  font-family: Karelia;
  color: #FF5924;
  background: white;
  border: none;
  border-radius: 100px;
  padding: 10px 30px 13px 30px;
  position: absolute;
  top: 40px;
  right: 30px;
  transition: all .3s ease-in-out;

  &:hover {
    background-color: #f7f7f7;
    transform: translateY(5px);
  }
}

.helloworld {
  font-family: "Karelia";
  font-size: 80px;
  margin-top: -100px;
  margin-bottom: 100px;
  animation: float 3s ease-in-out infinite;
}

.createRoomButton {
  display: inline-flex;
  font-size: 22px;
  font-family: "Karelia";
  padding: 20px 50px 25px 50px;
  background: #FF5924;
  color: white;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
  transition: all .4s ease-in-out;
  align-items: center;

  &:hover {
    background-color: #de4716;
    transform: translateY(10px);
  }
}

.createRoomButtonText {
  margin-right: 10px;
}

.streamrPlug {
  font-size: 12px;
  background-color: white;
  padding: 10px 20px 10px 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 50px;

  a {
    color: #FF5924;
  }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}